<div class="container col-md-6 d-flex justify-content-between mt-5">
<button type="button" class="btn btn-primary" routerLink="/eager1">eager1</button>
<button type="button" class="btn btn-secondary" routerLink="/eager2">eager2</button>
<button type="button" class="btn btn-success" routerLink="/eager3">eager3</button>
<button type="button" class="btn btn-danger" routerLink="/lazy1">lazy1</button>
<button type="button" class="btn btn-warning" routerLink="/lazy2">lazy2</button>
</div>


<router-outlet></router-outlet>